<body>
    <img [src]="av.WappenOhneStadtstaaten[number]" alt=""> <!--Erzeugt ein zufäliges Wappen.-->
    <br>
    <div class="bt2">
        <h2 id="question1">Was ist die Landeshauptstadt von&nbsp;</h2>
        <h2 id="question2" class="h21" [innerText]=" av.LaenderOhneStadtstaaten[number]"></h2> <!--Gibt die dazugehörige Frage aus-->
        <h2 id="question3">?</h2>
        <br>
    </div>
    <div class="bt">
        <select id="enterLandeshauptstadt">
            <option> Stuttgart </option>
            <option> München </option>
            <option> Potsdam </option>
            <option> Wiesbaden </option>
            <option> Rostock </option>
            <option> Hannover </option>
            <option> Düsseldorf </option>
            <option> Mainz </option>
            <option> Saarbrücken </option>
            <option> Magdeburg </option>
            <option> Dresden </option>
            <option> Kiel </option>
            <option> Erfurt </option>
        </select> <!--Eingabefeld für die Atnwort-->


        <button class="l-a" id="answer" (click)="CheckAnswerCapital();">Lösung absenden</button>
        <button class="weiter" id="result" (click)="resultBt();">Zum Ergebnis</button>
        <button class="reloadbutton" id="reloadbutton" (click)="reload();"> Quiz erneut <br> spielen</button>
    </div><br>
    <p class="output" id="output"></p>
</body>