<div class="body"> <img src={{av.WappenAndState[number].Wappen}} id="img" alt=""> <!--Erzeugt ein zufäliges Wappen.-->
    <br>
    <div class="bt">
        <h2 id="question">Was ist die Landeshauptstadt von&nbsp;</h2>
        <h2 id="question1" class="h21" [innerText]="av.WappenAndState[number].State"></h2>         <!--Gibt die dazugehörige Frage aus-->
        <h2 id="question2">?</h2>
        <br>
    </div>
    <div class="bt">
        <mat-form-field id="enterLandeshauptstadt">
            <mat-select [(ngModel)]="SelectedCapital"  placeholder="-" disableRipple>
                <mat-option selected></mat-option>
                <div *ngFor="let cp of this.CapitalStates">
                    <mat-option value="{{cp}}"> {{cp}} </mat-option>
                </div>
            </mat-select>
        </mat-form-field>


        <button class="answerBt" id="answer" (click)="CheckAnswerCapital();">Lösung absenden</button>
        <button class="weiter" id="result" (click)="resultBt();">Zum Ergebnis</button>
        <button class="reloadbutton" id="reloadbutton" (click)="reload();"> Quiz erneut <br> spielen</button>
    </div><br>
    <p class="output" id="output"></p>
</div>