button {
  background-color: rgb(230, 211, 211);
  font-size: 15px;
  color: black;
  margin-top: 50px;
  margin-left: 2%;
}
div {
  display: flex;
}
body {
  min-height: 91.5vh;
  min-width: 99.5%;
  
}
