<body>
    <img [src]="av.Wappen[av.randomNumberWappen]" alt=""> <!--Erzeugt ein zufäliges Wappen.-->
    <br>
    <div>
        <h2>Zum welchem Bundesland gehört dieses Wappen?</h2>
        <br>
    </div>
    <div class="bt">
        <select id="enterBundesland">
            <option> Baden-Württemberg </option>
            <option> Bayern </option>
            <option> Berlin </option>
            <option> Brandenburg </option>
            <option> Bremen </option>
            <option> Hamburg </option>
            <option> Hessen </option>
            <option> Mecklenburg-Vorpommern </option>
            <option> Niedersachsen </option>
            <option>Nordrhein-Westfalen </option>
            <option> Rheinland-Pfalz </option>
            <option> Saarland </option>
            <option> Sachsen-Anhalt </option>
            <option> Sachsen </option>
            <option> Schleswig-Holstein </option>
            <option> Thüringen </option>
        </select>


        <button class="l-a" (click)="av.CheckAnswerWappen();">Lösung absenden</button>
        <button class="weiter" (click)="av.weiterButtonWappen();">Nächste Frage</button>

    </div>
    <p class="output" id="output"></p>
</body>