img{
    margin-top: 170px;
    margin-left: 40%;
    width: auto;
    height: 300px;
    align-self: center;
    
}
div{
    display: flex;
    margin-left: 33.0%;

}
.output{
    font-style: italic;
    margin-left: 33.0%;
    font-size: 22px;
}
.bt{
    display: flex;
}
button{
    height: 50px;

}

.l-a{
    margin-left: 15px;
    background: #c7c3ff;
    font-family: 'Times New Roman';
    font-size: 17px;
    font-weight: bold;


}
.weiter{
    margin-left: 8.9%;
    background: #6d65dd;
    color: rgb(56, 48, 48);
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 16px;
    font-weight: bold;
}
body{
    font-size: large;
    background-color: rgb(247, 224, 224);
    min-height: 91.5vh;
}
input{
    height: 30px;
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Times New Roman';
    font-style: initial;
    font-weight: 200;
    font-stretch: semi-condensed;
    margin-left: 5px;
width: 270px;

}
.h21{
    font-size: 26px;

}